<div class="row">
  <div class="col-md-8 offset-md-2">
    <p class="alert alert-primary">
      the Product Name is {{ prodobj.pname }} and the proId is
      {{ prodobj.prodId }}
    </p>
    <button
      [routerLink]="['/products', prodobj.prodId, 'editproduct']"
      [queryParamsHandling]="'preserve'"
      class="btn btn-sm btn-outline-primary mr-3"
    >
      EDIT
    </button>

    <button (click)="onproRemove()" class="btn btn-sm btn-outline-danger">
      REMOVE
    </button>
  </div>
</div>
