<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="usersForm" (ngSubmit)="onuseradd()">
          <div class="form-group">
            <label for="userName">User Name:</label>
            <input
              type="text"
              name="userName"
              formControlName="userName"
              id="userName"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label for="UserRole">User Role:</label>
            <select
              name="userRole"
              id="userRole"
              formControlName="userRole"
              class="form-control"
            >
              <option value="Candidate">Candidate</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
          <button
            [disabled]="updateBtnDisable"
            type="submit"
            class="btn btn-sm btn-outline-primary"
          >
            {{ isInEditmode ? "update user" : "add user" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
