
<div class="row">
    <div class="col-md-6 offset-md-2 mr-5" >
        <div class="card">
            <div class="card-body">
                <form [formGroup]="prodform" (ngSubmit)="onproadd()">
                    <div class="form-group">
                        <label for="pname">Product Name:</label>
                        <input type="text" name="pname" formControlName="pname"  id="pname" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="pstatus">Product Status:</label>
                       <select name="pstatus" id="pstatus" formControlName="pstatus" class="form-control">
                        <option value="In-Progress">In-Progress</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Dispatched">Dispatched</option>
                       </select>
                    </div>

                    
                    <div class="form-group">
                        <label for="canreturn">Product CanReturn:</label>
                       <select name="canreturn" id="canreturn" formControlName="canreturn" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                       </select>
                    </div>
                    <button [disabled]="updateBtnDisable" [type]="isInEditMode ? 'button' : 'submit'"  class="btn btn-sm btn-outline-primary" (click)="onupdate()" >{{isInEditMode ? 'update product' : 'add product'}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
